asgiref==3.8.1
click==8.1.8
dj-database-url==2.3.0
Django==5.1.6
django-cors-headers==4.6.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
gunicorn==23.0.0
h11==0.14.0
iniconfig==2.1.0
packaging==24.2
pillow==11.1.0
pluggy==1.5.0
psycopg2-binary==2.9.10
PyJWT==2.10.1
pytest==8.3.5
pytest-django==4.11.1
python-dotenv==1.0.1
pytz==2025.1
shortuuid==1.0.13
sqlparse==0.5.3
typing_extensions==4.13.0
tzdata==2025.1
uvicorn==0.34.0
whitenoise==6.9.0
